#contactButton{
    transition: color 0.3s ease;
    &:hover{
        color: --bs-dark;
    }
}
.header{
    background: url("../images/header-background.jpg") center center no-repeat;
    background-size: cover;
}
.navbar{
    transition: all 0.3s ease-in-out
}
.nav-sticky{
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        opacity: 0.9;
            
    }
    .modal-dialog{
        max-width: 1090px;
    }
@media(max-width: 1000px){
    .hero .image-container{
        display:flex;
        justify-content:center;
    }
    .hero .text-container{
        text-align: center;
    }
}